<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>

  <link href='../css/bootstrap.min.css' rel='stylesheet'>
  <link href='../css/restyle.css'  rel='stylesheet'>
  

 
</head>
<body>

    <div class="modal-dialog text-center">
      <div class="col-sm-8 main-section">
        <div class="modal-content">
          <div class="col-12 user">
              <i class="fas fa-user-circle"></i>
          </div>
          <div class="col-12">
            <div class="form-group">
              <input type="text" class="form-control" id="usuario" name="usuario" placeholder="User">
            </div>
            <div class="form-group">
              
              <input type="password" class="form-control" id="clave" name="clave" placeholder="Password">
            </div>
            <button type="submit" class="btn" onclick="logear()"><i class='fas fa-sign-in-alt'></i>Ingresar</button>
            <div class="col-12 forgot">
              <!--<a href="#">¿Olvido su Clave?</a>-->
            </div>
          </div>
        </div>
      </div>
        
      </div>
  
  
</body>
<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/frmlogin.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/all.js"></script>


</html>



