<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link href='../css/materialize.min.css' rel='stylesheet'>
    <link href='../css/style.css' rel='stylesheet'>
    <link href='../css/model.css' rel='stylesheet'>
    
</head>
<body>
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="top_menu">
                <div class="logo">SISTEMA DE BIBLIOTECA</div>
                <ul>
                    <li><a href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="#"><i class="fas fa-bell"></i></a></li>
                    <li><a href="#"><i class="fas fa-user"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="slidebar">
            <ul>
                <li class="submenu"><a href="#">
                    <span class="icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                        
                    </span>
                    <span class="title">Gestionar Libros</span> <span class="caret fas fa-angle-down"></span>
                </a>
                <ul class="children">
                    <li><a href="../sistema_biblioteca/registrar_libro"><span class="icon">
                        <i class="fas fa-swatchbook" aria-hidden="true"></i>
                    </span>Registar libros </a></li>
                    <li><a href="../sistema_biblioteca/validar_prestamos"><span class="icon">
                        <i class="fas fa-address-card"></i>
                    </span>Validar Prestamo</a></li>
                </ul>
            </li>
                <li><a href="../sistema_biblioteca/prestamos">
                    <span class="icon">
                        <i class="fas fa-book-reader" aria-hidden="true"></i>
                    </span>
                    <span class="title">Prestamos</span>

                </a></li>
                
                <li><a href="">
                    <span class="icon">
                        <i class="as fas fa-file-alt" aria-hidden="true"></i>
                    </span>
                    <span class="title">Reportes</span>

                </a></li>
                <li><a href="">
                    <span class="icon">
                        <i class="as fas fa-user-tie" aria-hidden="true"></i>
                    </span>
                    <span class="title">Administracion</span>

                </a></li>
            </ul>
        </div>
        <div class="main_container">
            <div class="item">
                <div class="row">
                    <div class="col s12">
                        <i class="fas fa-user users"></i>
                    </div>       
                </div>
                <div class="row">
                    <div class="col s12">
                        <h5 class="card-title blue-text control">Bienvenido Leyton Tarqui Huanca</h5>
                    </div>
                </div>
                
            </div>
        
        
    </div>
    
</body>
    
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/frm_menu.js"></script>
    <script src="../js/all.js"></script>
    <script src="../js/materialize.min.js"></script>


</html>